

<div id="add-task-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-left">
        <h2 class="modal-title"><i class="fa fa-plus"></i>New Task</h2>
      </div>
      <div class="modal-body">
        <form action="" method="post" enctype="application/json" class="form-horizontal form-bordered" onsubmit="return false;">
          <fieldset>
            <div class="form-group">
              <label class="col-md-3 col-lg-3 col-sm-4 custom-control-label control-left">Assignee</label>
              <input class="col-md-4 col-lg-4 col-sm-8 control-left" type="text" name="title" [(ngModel)]="title" placeholder="Title" />
            </div>
            <div class="form-group">
              <span class="custom-control text-left dropdown-menu-left">
                <select class="btn" name="taskPriority" [(ngModel)]="taskPriority" data-show-icon="true">
                  <option selected value="0">Highest</option>
                  <option value="1">High</option>
                  <option value="2">Medium</option>
                  <option value="3">Low</option>
                  <option value="4">Lowest</option>
                  <option value="5">Forgettable</option>
                </select>
              </span>
              <span class="custom-control text-right  dropdown-menu-right">
                <select class="btn" name="taskState" [(ngModel)]="taskState" data-show-icon="true">
                  <option selected value="0" data-content="<i class='fa fa-plus'></i>">New</option>
                  <option value="1" data-subtext="<i class='fa fa-plus'></i>">Open</option>
                  <option value="2">InProgress</option>
                  <option value="3">Testing</option>
                  <option value="4">Resolved</option>
                  <option value="5">Closed</option>
                  <option value="6">Reopened</option>
                </select>
              </span>
            </div>
          </fieldset>
          <fieldset>
            <legend>Description</legend>
            <div class="form-group">
              <div class="col-md-12">
                <textarea rows="10" id="task-description" name="description" class="form-control" [(ngModel)]="description" value="" placeholder="Enter description..."></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 col-lg-3 col-sm-4  custom-control-label control-left">Assignee</label>
              <label class="col-md-9 col-lg-9 col-sm-8 custom-control-label control-left text-primary">
                <span class="custom-control text-right  dropdown-menu-right">
                  <select class="btn" name="assigneeId" [(ngModel)]="assigneeId" data-show-icon="true">
                    <option value="" selected="selected" >Choose assignee</option>
                    <option *ngFor="let user of usersList" value="{{user.id}}">{{user.firstName + ' ' + user.lastName + ' (' + user.username + ')'}}</option>
                  </select>
                </span>
                </label>
            </div>
          </fieldset>
          <div class="form-group form-actions">
            <div class="col-xs-12 text-right">
              <button id="add-task-modal-close" type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
              <button (click)="newTask()" class="btn btn-sm btn-primary">Add Task</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
