<header class="navbar navbar-default">
  <ul class="nav navbar-nav-custom pull-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-user"></i>
      </a>
      <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
        <li class="dropdown-header text-center">Authentication</li>
        <li *ngIf="!authentication">
          <a id="sign-in-menu" href="#" data-toggle="modal" data-target="#login-modal">
            <i class="fa fa-sign-in fa-fw pull-right"></i>
            Sign In
          </a>
          <a id="sign-up-menu" data-toggle="modal" data-target="#login-modal">
            <i class="fa fa-user-plus fa-fw pull-right"></i>
            Sign Up
          </a>
        </li>
        <li *ngIf="authentication">
          <a href="" data-toggle="modal" data-target="#login-modal">
            <i class="fa fa-sign-out fa-fw pull-right"></i>
            Logout
          </a>
        </li>

      </ul>
    </li>
  </ul>
  <app-login></app-login>
</header>
