<div id="page-wrapper">

  <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
    <div id="main-container">
      <app-header></app-header>
      <div id="page-content">
        <div class="row">
          <div class="col-md-6">
            <div class="block">
              <div class="block-title">
                <div class="block-options pull-right">
                  <a *ngIf="usersLoading" class="btn loader loader-block-opt" title="loading..."></a>
                  <a (click)="loadUsers()" class="btn btn-alt btn-sm btn-default" title="Reset"><i class="fa fa-refresh"></i></a>
                  <div class="btn-group btn-group-sm">
                    <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default dropdown-toggle enable-tooltip" data-toggle="dropdown" title="Sort"><span class="fa fa-sort"></span></a>
                    <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                      <li>
                        <a (click)="updateUsers(0)"><i class="gi gi-sort-by-alphabet pull-right"></i>Order by First name Asc</a>
                        <a (click)="updateUsers(1)"><i class="gi gi-sort-by-alphabet-alt pull-right"></i>Order by First name Desc</a>
                        <a (click)="updateUsers(2)"><i class="gi gi-sort-by-alphabet pull-right"></i>Order by Last name Asc</a>
                        <a (click)="updateUsers(3)"><i class="gi gi-sort-by-alphabet-alt pull-right"></i>Order by Last name Desc</a>
                        <a (click)="updateUsers(4)"><i class="gi gi-sort-by-alphabet pull-right"></i>Order by Position Asc</a>
                        <a (click)="updateUsers(5)"><i class="gi gi-sort-by-alphabet-alt pull-right"></i>Order by Position Desc</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <h2><strong>Employees</strong></h2>
                <div class="row" style="padding-top: 10px">
                  <div *ngFor="let user of users" class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
                    <a (click)="selectUser(user.id)" href="javascript:void(0)" class="widget widget-hover-effect1">
                      <div class="widget-simple">
                        <h3 class="widget-content text-right animation-pullDown">
                          <strong>{{user.firstName}} {{user.lastName}}</strong><br>
                          <small>{{user.position}}</small>
                        </h3>
                      </div>
                    </a>
                  </div>
                </div>

              </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="block">
              <div class="block-title clearfix">
                <div class="block-options pull-left">
                  <a (click)="loadTasks()" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Reset"><i class="fa fa-refresh"></i></a>
                  <div class="btn-group btn-group-sm">
                    <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default dropdown-toggle enable-tooltip" data-toggle="dropdown" title="Sort"><span class="fa fa-sort"></span></a>
                    <ul class="dropdown-menu dropdown-custom dropdown-menu-left">
                      <li>
                        <a (click)="updateTasks(0)"><i class="gi gi-sort-by-alphabet pull-right"></i>Order by <strong>Title</strong> Asc</a>
                        <a (click)="updateTasks(1)"><i class="gi gi-sort-by-alphabet-alt pull-right"></i>Order by <strong>Title</strong> Desc</a>
                        <a (click)="updateTasks(2)"><i class="gi gi-sort-by-alphabet pull-right"></i>Order by <strong>State</strong> Asc</a>
                        <a (click)="updateTasks(3)"><i class="gi gi-sort-by-alphabet-alt pull-right"></i>Order by <strong>State</strong> Desc</a>
                        <a (click)="updateTasks(4)"><i class="gi gi-sort-by-alphabet pull-right"></i>Order by <strong>Priority</strong> Asc</a>
                        <a (click)="updateTasks(5)"><i class="gi gi-sort-by-alphabet-alt pull-right"></i>Order by <strong>Priority</strong> Desc</a>
                        <a (click)="updateTasks(6)"><i class="gi gi-sort-by-alphabet pull-right"></i>Order by <strong>Date</strong> Asc</a>
                        <a (click)="updateTasks(7)"><i class="gi gi-sort-by-alphabet-alt pull-right"></i>Order by <strong>Date</strong> Desc</a>
                        <a (click)="updateTasks(8)"><i class="gi gi-sort-by-alphabet pull-right"></i>Order by <strong>Estimate time</strong> Asc</a>
                        <a (click)="updateTasks(9)"><i class="gi gi-sort-by-alphabet-alt pull-right"></i>Order by <strong>Estimate time</strong> Desc</a>
                      </li>
                    </ul>
                  </div>
                  <a *ngIf="authentication" href="#add-task-modal" data-toggle="modal" class="btn btn-alt btn-sm btn-default" title="Add new task"><i class="fa fa-plus"></i></a>
                  <a *ngIf="taskLoading" class="btn loader loader-block-opt" title="loading..."></a>
                </div>
                <h2 class="pull-right"><strong>Tasks</strong></h2>

                <div class="row" style="padding-top: 40px">
                  <div *ngFor="let task of tasks" class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
                    <a *ngIf="authentication" href="javascript:void(0)" (click)="deleteTask(task.id)" class="btn btn-alt btn-sm btn-danger pull-right" title="Delete"><span class="fa fa-remove"></span></a>
                    <a href="#modal-task-view" (click)="selectTask(task.id)" data-toggle="modal" class="widget widget-hover-effect1">
                      <div class="widget-simple">
                        <h3 class="widget-content text-left animation-pullDown">
                          <strong class="control-left">{{task.title}}</strong><small class="control-left">{{task.date | date: format}}</small>
                        </h3>
                        <br/>
                        <h3>
                          <small>{{task.description}}</small>
                        </h3>

                      </div>
                    </a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <app-task-view-modal [task]="selectedTask"></app-task-view-modal>
        <app-add-task-modal></app-add-task-modal>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
